# This is the docker-compose-yml file that must be able to start
# your group's backend.

# Remember to comment this file well!

services:
  # You can base this service on a bitnami/kafka Docker Hub image.
  # You need to expose the kafka port to other containers
  # in this  docker-compose.yml
  # A set of needed Docker instructions like 'image:' are shown
  # below, groups should set their values. Groups are free to
  # CRUD the set of instructions as they see fit.
  kafka:
    image: bitnami/kafka:latest
    networks:
      - backend
    ports:
      - '9092:9092'
    environment:
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
    # run a healtcheck to make sure kafka starts before the servers that depend on it
    healthcheck:
      test:
        ['CMD', 'kafka-topics.sh', '--bootstrap-server', 'kafka:9092', '--list']
      interval: 10s
      timeout: 5s
      retries: 5

  emotegen:
    build: ./backend/emotegen
    depends_on:
      kafka:
        condition: service_healthy
    environment:
      - KAFKA_BROKER=kafka:9092
    networks:
      - backend

  server_a:
    build: ./backend/server_a
    ports:
      - '3000:3000'
    depends_on:
      kafka:
        condition: service_healthy
      emotegen:
        condition: service_started
    environment:
      - KAFKA_BROKER=kafka:9092
      - KAFKA_CLIENT_ID=server_a
    networks:
      - backend

  server_b:
    build: ./backend/server_b
    ports:
      - '4000:4000'
    depends_on:
      - kafka
      - emotegen
    environment:
      - KAFKA_BROKER=kafka:9092
      - KAFKA_CLIENT_ID=server_b
    networks:
      - backend

  react-app:
    build: ./frontend
    ports:
      - '3001:80'
    depends_on:
      - server_a
      - server_b
    networks:
      - backend
  # much of the server_b service entry can be copied from server_a
  # service above. Groups are free to
  # CRUD this set of instructions as they see fit.
  # server_b:
  # build:
  # depends_on:
  # environment:
  # networks:

# Here we create a named network, that all the backend components
# must be added to for them to be able to communicate through
# exposed ports.
networks:
  backend:
# If you use databases for storing information, you can define
# their volumes here.
# Documentation: https://docs.docker.com/storage/volumes/
# Personally I like to look at the database's image's Dockerfile
# in the Docker Hub to see what directory it uses to store data.
# volumes:
