.App {
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.chat-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 575px;
  height: 860px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #000000;
  overflow-y: auto;
  color: #ffffff;
}
